@model BuisnessLogic.Models.CrfPage

@{
    ViewData["Title"] = "Edit";
}

<h1>Lockout Error</h1>


<h2>
    Crf Page @Model.Id @Model.Name is locked for changes.<br />
</h2>
<p>
    The component in this page that you requested to edit (or duplicate) belongs to it, and therefor
    cannot be edited (or duplicated).
</p>