@model CrfDesign.Server.WebAPI.Models.Backup.LoadOptions

@{
    ViewData["Title"] = "Load Database";
}

<h1>Restore Database</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Load">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea class="form-control" rows="30" cols="220" asp-for="DB"
                          style="width: 100%; scroll-behavior: auto;">
                    @Model.DB
            </textarea>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOverwrite" /> @Html.DisplayNameFor(model => model.IsOverwrite)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAppend" /> @Html.DisplayNameFor(model => model.IsAppend)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDateTime" class="control-label"></label>
                <input asp-for="ModifiedDateTime" class="form-control" />
                <span asp-validation-for="ModifiedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
