@model RenderCrfPageViewModel

@{
    // property IEnumerable<BuisnessLogic.Models.CrfPageComponent>

    ViewData["Title"] = $"Render {Model.CrfPage.Name}";
}

<h1>@Model.CrfPage.Name</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.CrfPage.Name" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="CrfPageId" value="@Model.CrfPage.Id" />

            @foreach (var item in Model.CrfPageComponent)
            {
                @switch (item.QuestionType)
                    {
                        case "Text":
                            {
                                await Html.RenderPartialAsync("Text", item);
                            }
                            break;
                        case "MultipleChoice":
                            {
                                await Html.RenderPartialAsync("MultipleChoice", item);
                            }
                            break;
                        case "SingleChoice":
                            {
                                await Html.RenderPartialAsync("SingleChoice", item);
                            }
                            break;
                        case "Date":
                            {
                                await Html.RenderPartialAsync("Date", item);
                            }
                            break;
                        case "Checkbox":
                            {
                                await Html.RenderPartialAsync("CheckBox", item);
                            }
                            break;
                        case "Numeric":
                            {
                                await Html.RenderPartialAsync("Numeric", item);
                            }
                            break;
                        case "Boolean":
                            {
                                await Html.RenderPartialAsync("Boolean", item);
                            }
                            break;
                        case "OpenSingleChoise":
                            {
                                await Html.RenderPartialAsync("OpenSingleChoice", item);
                            }
                            break;
                        default:
                            {
                                await Html.RenderPartialAsync("Text", item);
                            }
                            break;
                    }
                }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




