@using Microsoft.AspNetCore.Identity
@inject SignInManager<Investigator> SignInManager
@inject UserManager<Investigator> UserManager
@{
    ViewData["Title"] = "Home Page";
    Investigator user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <script>
            // Refresh page every 30 minutes (30 * 60 * 1000 ms = 1,800,000 ms)
            setTimeout(() => {
                location.reload();
            }, 1800000); // 30 minutes
        </script>
        <p>Use the navigation menu to access your tools.</p>
    }
    else
    {
        <h1>Welcome</h1>
        <p>Please sign in or Register</p>
        <p>Example of CRF file (WORD) <a href="https://www.accessdata.fda.gov/Static/widgets/tobacco/MRTP/09%20appendix-2h-smna-smkng-cstn/sm-08-01/1.%20CSR/16.1.2-sample-case-report-form.pdf">here</a>.</p>

    }

</div>
